<html>
<head>
    <center>
        <h1> Madam Jira </h1><br><br>.
        <img src="fortune.jpg" alt="fortune">
    </center>
</head><br><br><br>

<body>
    <center>
       <b1> Today your fortune is: </b1><br>
       <br><br>
       
            <br>
            <center>
               
                <tr> {{records}} </tr><br>
            
                <br>
            
            </center>
        </form>
    </center>
</body><br><br>
<footer>
    <center><br><br>
    <tr><a href='/'> new fortune </a></tr><hr>

    
    </center>   
</footer>
</html>